*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/notes/EmbeddedSystems.aux
/notes/EmbeddedSystems.lof
/notes/EmbeddedSystems.lot
/notes/EmbeddedSystems.log
/notes/EmbeddedSystems.out
/notes/EmbeddedSystems.synctex.gz
/notes/EmbeddedSystems.toc
/notes/*.pdf
