*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
Report/main.pdf
Report/main.run.xml
Report/main.aux
Report/main.toc
Report/main.synctex.gz
Report/main.lof
