<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.example.embSys.mma"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- Maps API needs OpenGL ES 2.0. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDgvQIuSpfwnVY-0D0sl0OPWrlY3Ly9j6A" />

        <activity
            android:name=".userInterface.activeState.ActiveStateUIActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
                        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".userInterface.ggmap.ActivityGGMap" />
        <activity android:name="org.achartengine.chartdemo.demo.chart.XYChartBuilder" />
        <activity android:name="org.achartengine.chartdemo.demo.chart.PieChartBuilder" />
        <activity android:name="org.achartengine.GraphicalActivity" />
        <activity android:name=".GeneratedChartDemo" />
    </application>

</manifest>